{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I teach Biogeography as well as studying distribution of species and ecosystems in geographic space and through geological time.</p>
        <p>I am responsible for writing server-side web application logic. I develop back-end components, connect the application with the other (often third-party) web services, and support the front-end developers by integrating their work with the Python application. </p>
        <p>I also teach Computer studies, Biology and Geography remotely you want to get in touch? Please follow authentication process.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}